.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}

.frame {
  min-width: 80%;
  height: 40vh;
}

@media (min-width: 900px) {
  .frame {
    min-width: 60%;
    height: 60vh;
  }
} ;
