.container {
  display: block;
  padding: 0 20px 10px 20px;
}

.videoContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.video {
  width: 100%;
  border-radius: 2%;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.card {
  color: #455765;
}

.mainText {
  margin: 15px 0 0 0;
  padding: 10px;
  /* background-color: '#fffcd'; */
  background-color: rgba(249, 230, 226, 0.3);
  color: #455765;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  max-width: 345px;
  white-space: pre-line;
}

@media (min-width: 700px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video {
    width: 50vw;
    border-radius: 2%;
  }
  .card {
    display: none;
  }
  .content {
    padding: 0 15px;
    display: flex;
  }
  .mainText {
    padding: 15px;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .mainText {
  }
}
