.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 30px;
  background: rgb(177, 207, 235);
  background: linear-gradient(
    0deg,
    rgba(177, 207, 235, 1) 0%,
    rgba(150, 196, 196, 1) 78%
  );
  color: white;
}

.address {
  display: flex;
  align-content: center;
  justify-content: center;
}

.address > p:hover {
  color: #455765;
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia svg {
  margin-right: 10px;
  width: 55px;
  height: 55px;
}

.socialMedia svg:hover {
  color: #455765;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
}
