.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 30px;
  background-color: #87542A;
  color: white;
}

.container>p:hover {
  font-weight: 600;
}

.address {
  display: flex;
  align-content: center;
  justify-content: center;
}

.address>p:hover {
  font-weight: 600;
}


.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia svg {
  margin-right: 10px;
}

.socialMedia svg:hover {
  height: 20px;
  ;
}

@media(min-width: 700px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

}