.container {
  display: block;
  padding: 0 20px 10px 20px;
}

.videoContainer {
  display: flex;
  margin-top: 15px;
}

.video {
  width: 100%;
  border-radius: 2%;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.mainText {
  margin: 15px 0 0 0;
  padding: 10px;
  background-color: rgba(249, 230, 226, 0.3);
  color: #455765;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  max-width: 345px;
  white-space: pre-line;
}

.items {
  padding: 0 10px 0 14px;
}
.items > li {
  margin-top: 10px;
}

@media (min-width: 700px) {
  .container {
    padding: 0 15rem 0.625rem 15rem;
  }
  .videoContainer {
    justify-content: center;
  }

  .video {
    width: 100%;
    max-height: 65vh;
  }
  .card {
    display: none;
  }
  .content {
    padding: 0 15px;
    display: flex;
  }
  .mainText {
    padding: 15px;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
}
