@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@300&family=Josefin+Sans&display=swap');

html {}

body {
  min-height: 100%;
  margin: 0;
  background-color: #FFFFCD;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}